html {
    /* background: linear-gradient(to bottom,rgb(255, 255, 255),rgb(189, 245, 255) ); */
    /* overflow-y: scroll !important; */
    scroll-behavior: smooth;
    background-color: #f8f8f8;
}

.density {
    background-color: rgb(64, 73, 106) !important;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%) !important;
}

.white {
    fill: white !important;
}

.midChozen {
    fill: #d6d6d6 !important;
}

.topChozen {
    fill: rgba(189, 16, 0, 0.75) !important;
}

.leftChozen {
    fill: rgba(0, 120, 180, 0.75) !important;
}

.rightChozen {
    fill: rgba(44, 177, 0, 0.75) !important;
}

.allTriangle {
    /* max-height: 424px;
    max-width: 424px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: relative;
}

.topSpan {
    z-index: 10;
    font-size: 20px;
    position: absolute;
    top: 30px;
}

.rightSpan {
    z-index: 10;
    font-size: 20px;
    position: absolute;
    top: 130px;
    right: 87px;
}

.leftSpan {
    z-index: 10;
    font-size: 20px;
    position: absolute;
    top: 130px;
    left: 92px;
}

.topTriangle {
    /* position: absolute;
    top: 0;
    left: 50%;
    margin: 2%; */
    background-color: transparent;
    z-index: 2;
    display: inline-block;
    transform: rotate(45deg);
    width: 150px;
    height: 150px;
    border-top: rgba(189, 16, 0, 0.75) solid 2px;
    border-left: rgba(189, 16, 0, 0.75) solid 2px;
    border-bottom: transparent solid 2px;
    border-right: transparent solid 2px;
}

.rightMiddleTriangle {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    top: 76px;
    right: 50px;
    transform: skewX(45deg);
    width: 212px;
    height: 106px;
    border-top: rgba(189, 16, 0, 0.75) solid 2px;
    border-left: rgba(44, 177, 0, 0.75) solid 2px;
    border-bottom: rgba(0, 120, 180, 0.75) solid 2px;
    border-right: rgba(0, 120, 180, 0.75) solid 2px;
}

.leftMiddleTriangle {
    position: absolute;
    z-index: 2;
    background-color: transparent;
    top: 76px;
    left: 50px;
    transform: skewX(-45deg);
    width: 212px;
    height: 106px;
    border-top: rgba(189, 16, 0, 0.75) solid 2px;
    border-left: rgba(44, 177, 0, 0.75) solid 2px;
    border-bottom: rgba(44, 177, 0, 0.75) solid 2px;
    border-right: rgba(0, 120, 180, 0.75) solid 2px;
}

polygon {
    outline: none;
    cursor: pointer;
}

.midPoly {
    stroke: transparent;
    fill: transparent;
}

.topPoly {
    stroke-width: 3.5px;
    stroke: rgba(189, 16, 0, 0.75);
    fill: transparent;
}

.leftPoly {
    stroke-width: 3.5px;
    stroke: rgba(0, 120, 180, 0.75);
    fill: transparent;
}

.rightPoly {
    stroke-width: 3.5px;
    stroke: rgba(44, 177, 0, 0.75);
    fill: transparent;
}

text {
    cursor: pointer;
    outline: none;
    font-weight: bold;
    font-size: 22px;
}

.addButton {
    cursor: pointer;
    position: fixed !important;
    bottom: 25%;
    right: 2%;
    /* left: 95%;
    bottom: 10%; */
    z-index: 10;
    zoom: 4;
    border-radius: 50%;
    color: rgb(64, 73, 106) !important;
}

.addButton:active {
    -webkit-box-shadow: inset 0px 0px 21px 0px #000000;
    box-shadow: inset 0px 0px 21px 0px #000000;
}

.space {
    line-height: 200%;
}

.testimonyConstainer {
    margin: 0;
}

.md-toast-animating {
    overflow: initial !important;
}

.md-dialog-is-showing {
    max-height: none !important;
}

body {
    height: auto !important;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    overflow-y: auto;
    position: relative;
    margin: auto;
    text-align: center;
    size: 100%;
    background-color: transparent;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: assistant, Sans-serif;
}


/* body::-webkit-scrollbar{
    display: none;
} */

label {
    color: rgba(46, 46, 46, 0.55) !important;
}

md-select .md-select-value.md-select-placeholder {
    color: rgba(46, 46, 46, 0.55);
}

.filter {
    box-shadow: rgba(0, 0, 0, 0.12) 1px 1px 3px, rgba(0, 0, 0, 0.24) 1px 1px 3px;
    background-color: white;
    margin: 2% 20% 2% 80%;
    height: 30px;
    width: 150px;
    min-width: 147px;
    min-height: 30px;
}

md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]),
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]),
md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]) md-icon,
md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]) md-icon {
    color: black !important;
    padding: 13px !important;
    font-size: 1.6em;
    font-weight: bolder;
}


/* md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: white;
    background: black;
    background:transparent !important;
} */


/* md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active, md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active, md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused, md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon, md-tabs.md-primary>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:not([disabled]).md-focused md-icon {
   color: black;
} */


/* .isHigh{
    transition-duration: 10000ms ;
    box-shadow:rgb(78, 78, 78) 5px 5px 15px 10px !important;
} */


/* md-tabs.md-default-theme.md-primary>md-tabs-wrapper, md-tabs.md-primary>md-tabs-wrapper {
    background-color: rgb(36, 0, 196);
} */

.שבר {
    border-color: rgba(0, 120, 180, 0.75) !important;
}

.דלקת {
    border-color: rgba(189, 16, 0, 0.75) !important;
}

.קרע {
    border-color: rgba(44, 177, 0, 0.75) !important;
}

.שבר>md-ink-bar,
.שבר>md-tabs md-ink-bar {
    color: white !important;
    background-color: rgba(0, 120, 180, 0.75) !important;
}

.דלקת>md-ink-bar,
.דלקת>md-tabs md-ink-bar {
    color: white !important;
    background-color: rgba(189, 16, 0, 0.75) !important;
}

.קרע>md-ink-bar,
md-tabs md-ink-bar {
    color: white !important;
    background-color: rgba(44, 177, 0, 0.75) !important;
}


/* md-tabs.md-default-theme.md-primary>md-tabs-wrapper, md-tabs.md-primary>md-tabs-wrapper {
    background-color: rgb(63,81,181);
} */

.testimonyParagraph {
    font-size: 2em;
    margin: 0% 1%;
    text-align: right;
}

.testimonyBorder {
    border-radius: 20px;
    border-style: solid;
    border-width: 3.5px;
}

.emptyBackground md-tabs-wrapper {
    background-color: transparent !important;
}

.cont {
    border-radius: 20px;
    /* display: inline-block; */
    position: relative !important;
    /* box-shadow:rgba(0,0,0,0.12) 2px 2px 11px, rgba(0,0,0,0.24) 2px 2px 11px; */
    margin: 5% 5%;
    /* max-width: 750px;
    min-width: 750px;
    max-height: 250px;
    min-height: 250px; */
}

h1 {
    font-size: 3em;
}

h2 {
    opacity: 1;
    font-size: 2em;
    margin: 10px 15px;
}

h3 {
    margin: 10px;
}

.testi {
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    margin-left: 10%;
    margin-right: 15%;
    display: flex;
    height: 300px;
    background-color: rgba(121, 255, 255, 0.5);
    border: 4px solid rgba(52, 128, 128, 0.83);
    border-radius: 30px;
}

.picname {
    display: flex;
    flex-direction: row;
}

.smallNav {
    margin: 5px;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}

.smallNav h2:hover {
    text-decoration: underline;
}

.dialog {
    position: fixed !important;
    z-index: 10;
    top: 50%;
    left: 50%;
    min-width: 600px;
    min-height: 650px;
    max-height: 60%;
    max-width: 35%;
    /* transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) !important; */
}

md-dialog.md-transition-in {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1) !important;
    transform: translate(-50%, -50%) scale(1) !important;
}

form {
    height: 80%;
    padding: 20px 20px !important;
}

.button {
    color: #ffffff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background: #1161ee;
}

.dialogInput {
    display: flex;
    justify-content: space-around;
    margin: 0.4em;
}

.dialogLable {
    color: #000 !important;
    font-size: 2em;
    margin: 0.5em;
}

.mdContainer {
    margin: 0 !important;
    width: 240px;
    height: 58px;
    /* margin: 20px !important; */
}

.treatmentmdContainer {
    width: 120px !important;
    margin: 0 !important;
}

.testimoiesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.treatment {
    display: flex;
    flex-direction: row;
}

.treatmentSpan {
    margin: 10px 10px;
    /* height: 22px !important; */
}

input {
    text-align: center;
}

md-toast.md-default-theme .md-toast-content,
md-toast .md-toast-content {
    background-color: white;
    color: rgb(148, 0, 0);
    position: fixed !important;
    top: 15%;
    right: 2%;
    font-size: 20px !important;
    overflow: visible;
}

.isHigh {
    animation: bounce 0.7s linear 0.5s 2 forwards;
}

.borderChozen {
    border-width: 5px;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    60% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(1)
    }
}